<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>root_path</param-name>
		<param-value>/</param-value>
	</context-param>

	<servlet>
		<servlet-name>MessageExternalService</servlet-name>
		<servlet-class>pl.mamzdanie.MessageExternalServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ApiServlet</servlet-name>
		<servlet-class>pl.mamzdanie.api.ApiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ApiServlet</servlet-name>
		<url-pattern>/api/service</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>XSS</filter-name>
		<filter-class>pl.mamzdanie.HTMLEscapeFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>XSS</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>